<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Maintenance page</title>
    </head>
    <body>
        <p>We'll be back soon. Thanks for waiting!</p>
    </body>
</html>